@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* NAVBAR 
------------------------------------------------------- */

#navbar{
    display: flex;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    width: 100%;
    position: fixed;
    background-color: white;
    transition: .5s ease-in-out;
}

.transparente{
    background-color: rgba(255, 255, 255, 0.6) !important;
    
}

.navbar-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

#navbar-header a{
    font-size: 25px;
    color: black;
    font-weight: 300;
}

#navbar-menu .nav{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#navbar-menu .nav li a{
    color: black;
    font-weight: 400;
}

/* BANNER 
------------------------------------------------------- */

section#banner{
    width: 100%;
    height: 500px;
    background: url(../images/banner.jpg);
    background-size: cover;
}

#banner-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
    color: white;
    font-family: 'Roboto';
}

#banner-container h1{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 25px;
}

#banner-container p{
    margin-bottom: 10px;
    font-weight: 200;
    background-color: rgba(11, 133, 11, 0.6);
    padding: 5px 20px;
}

#banner-container button{
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(87, 87, 87);
    color: white;
    font-size: 12px;
    transition: .3s ease-in-out;
}

#banner-container button:hover{
    background-color: #fff;
    color: rgb(87, 87, 87);
    font-weight: 400;
}

/* CURSOS 
------------------------------------------------------- */

section#cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    width: 100%;
    background-color: white;
    padding: 40px 0px;
} 

#cursos-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

#cursos-header{
    text-align: center;
    color: black;
    margin-bottom: 30px;
}

#cursos-header h1{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
}

#cursos-header p{
    margin-bottom: 10px;
    font-weight: 300;
}

.cursos-col{
    margin-bottom: 20px;
}

/* BOX */
/* 1 */
.box{
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    max-width: 1080px;
}
/* 2 */
.box-name{
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 10px;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px;
    background: rgba(11, 133, 11, 0.6);
    border-radius: 10px;
}
/* 4 */
.box-cover img{
    width: 100%;
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
}
/* 5 */
.box:hover .box-cover img{
    transform: scale(1);
}
/* 3 */
.box-detalhes{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px;
    color: #fff;
    font-size: 15px;
}
/* 9 */
.box-detalhes:before{
    content: "";
    position: absolute;
    z-index: 1;
    top: -20px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    visibility: hidden;
    background: linear-gradient(to bottom, transparent, #000);
    transition: all 250ms ease-in-out;
    transform: translate(0, 50%); /*LEFT,TOP*/
}
/* 6 */
.box-detalhes-info{
    position: relative;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease-in-out;
    transform: translate(0, 50%);
    text-align: left;
}
/* 7 */
.box-detalhes-info h2{
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left;
}

.box:hover .box-detalhes:before,/* 10 */
.box:hover .box-detalhes-info{/* 8 */
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);    
}

/* carregar-mais */
.carregar-mais{
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(87, 87, 87);
    color: white;
    font-size: 12px;
    transition: .3s ease-in-out;
    width:fit-content;
    border: 1px solid transparent;
}

.carregar-mais:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

/*CRIADORES
------------------------------------------*/
section#criadores{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg-criadores.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    width: 100%;
    padding: 60px 0px;
} 

#criadores-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

#criadores-header{
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

#criadores-header h1{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
}

#criadores-header p{
    margin-bottom: 10px;
    font-weight: 300;
}

#criadores-articles{
    width: 100%;
    
}

.criadores-article{
    background: rgba(255,255,255, .8);
    width: 100%;
    font-size: 12px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.criadores-article h1{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
    padding-left: 12px;
    border-left: 8px solid #ccc;
}
.criadores-article .image{
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    width: 83px;
    height: 83px;
    border-radius: 50%;
}
.criadores-article .image img{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%,-50%); 
}
.criadores-article .image img.portrait{
    width: 100%;
    height: auto;
}
.criadores-article p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 83px;
    font-size: 16px;
}
.criadores-article p .name{
    color:rgb(29, 173, 24);
    font-weight: bold;
    font-size: 18px;
}

/* FOOTER
------------------------------------------------------- */

footer{
    display: flex;
    background-color: rgb(233, 233, 233);
    border-top: 1px solid rgb(200, 200, 200);
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    flex-direction: column;
    font-family: 'Roboto';
}

#footer-container{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#footer-container h2{
    font-size: 24px;
    font-weight: 300;
    color:rgb(87, 87, 87);
    margin-bottom: 30px;
}

#footer-container a{
    font-size: 25px;
    margin-right: 10px;
    color:rgb(87, 87, 87);
}

#footer-container #coluna1 .corpo a:last-of-type{
    margin-right: 0px;
}

#footer-container #coluna1, #coluna2, #coluna3{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#footer-container #coluna1 .corpo{
    text-align: center;
}

#footer-container a:hover{  
    color:rgb(48, 48, 48);
}

#footer-container #coluna2 p, h2{
    text-align: center;
}

#footer-container #coluna2 p{
    color:rgb(134, 134, 134);
}

#footer-container #coluna3 p{
    text-align: center;
    color:rgb(134, 134, 134);
}

#coluna1, #coluna2, #coluna3{
    width: 150px;
} 

#footer-container button{
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(87, 87, 87);
    color: white;
    font-size: 12px;
    transition: .3s ease-in-out;
}

#footer-container button:hover{
    background-color: rgb(58, 58, 58);
    color: white;
    font-weight: 400;
}

#direitos-autorais{
    margin-top: 40px;
    border-top: 1px solid rgb(200, 200, 200);
    width: 60%;
    text-align: center;
    padding: 20px 0px;
    color:rgb(87, 87, 87);
}

/*BREAKPOINTS MINÍMOS
------------------------------------------*/
@media (min-width: 768px){
    /*cursos*/
    .cursos-col{
        width: 49%;
        margin-right: 2%;
        margin-bottom: 2%;
        float: left;
    }
    .cursos-col:nth-child(odd){
        margin-right: 0;
    }
    .cursos-col:first-child{
        width: 100%;
    }

    /*criadores*/
    #criadores-articles{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .criadores-article{
        width: 100%;
        margin-right: 4%;
        margin-bottom: 4%;
    }
    .criadores-article:last-of-type{
        margin-right: 0;
    }
}

@media (min-width: 900px){
    /* cursos */
    .cursos-col:nth-child(odd),
    .cursos-col{
        width: 32%;
        margin-right: 2%;
    }
    .cursos-col:nth-of-type(3n+2){
        margin-right: 0;
    }
    .cursos-col:first-child{
        width: 66%;
    }

    /* criadores */
    .criadores-article{
        width: 400px;
        margin-right: 4%;
        margin-bottom: 4%;
    }
    .criadores-article:last-of-type{
        margin-right: 0;
    }
}